
@media screen and (max-width: 1200px) {
	.logo > img {
		max-width: 120px;
	}
	.content-are.site-main .list-article .col.col-1 {
		width: 38%;
	}
	.content-are.site-main .list-article .col.col-2 {
		width: 58%;
	}




	footer .footer-top .widget {
		width: 20% !important;
		padding-left: 0 !important;
	}
	footer .footer-top .widget.newsletter {
		width: 40% !important;
		padding-left: 20px !important;
	}
	footer .footer-top .widget.newsletter .form-group .form-control {
		padding-right: 70px;
	}
	footer .footer-top .widget.newsletter .form-group .btn {
		padding: 6px 18px;
	}
	footer .footer-bottom ul {
		text-align: center;
	}
	footer .footer-bottom ul li {
		margin-bottom: 5px;
	}
	footer .footer-bottom ul li:first-child {
		padding-left: 10px !important;
	}
	footer p.copyright {
		text-align: center;
	}
}
@media screen and (max-width: 990px) {
	.box-login {
		text-align: center;
	}
	#header .top-search {
		margin-left: 0;
		float: right;
	}
}
@media screen and (max-width: 768px) {
	.logo {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.logo > img {
		max-width: 150px;
	}
	#header .top-search {
		float: none;
		margin: 0 auto;
		max-width: 430px;
	}

	.content-are.site-main {
		float: none;
		width: 100%;
	}
	.content-are.site-main .list-article .col.col-1 {
		width: 20%;
	}
	.content-are.site-main .list-article .col.col-2 {
		width: 30%;
	}
	.content-are.sidebar {
		float: none;
		width: 100%;
	}
	.content-are.site-content.has-sidebar .site-main{
		width: 100%;
		float: none;
		padding-bottom: 30px;
	}
	.sidebar .tab-pane.
	footer .footer-top .widget {
		width: 50% !important;
		padding: 25px 20px !important;
		text-align: center;
	}
	footer .footer-top .widget.newsletter {
		width: 50% !important;
	}
	footer .footer-top .widget:nth-child(3) {
		border-right: none;
	}
}
@media screen and (max-width: 600px){
	.content-are.site-main .list-article .col.col-1,
	.content-are.site-main .list-article .col.col-2{
		width: 70%;
		float: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 480px) {
	.content-are.site-main .list-article .col.col-1,
	.content-are.site-main .list-article .col.col-2{
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	#header .search-form {
		float: none;
		width: 100%;
		line-height: 50px;
	}
	#header .more-category {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		display: block;
		line-height: 30px;
	}
	#header .more-category > span {
		display: block;
		margin: 0 auto;
		width: 76px;
	}
	#header .more-category > span::before {
		left: 50%;
		margin-left: -50px;
	}
	#header .more-category ul.list-category {
		max-width: 100%;
		right: 0;
	}
	#header .more-category .list-category::after {
		left: 50%;
		margin-left: -10px;
		right: auto;
		top: -20px;
	}
	#header .more-category .list-category > li {
		width: 32%;
		padding: 0 2%;
	}
	footer .footer-top .widget {
		width: 100% !important;
		padding: 25px 20px !important;
		text-align: center;
	}
	footer .footer-top .widget.newsletter {
		width: 100% !important;
	}
}
@media screen and (max-width: 380px) {
	#header .more-category .list-category > li {
		width: 100%;
		margin-bottom: 10px;
	}
	#header .box-login a.signup {
		margin-right: 30px;
	}
	#header .box-login a.pri-button {
		margin-left: 30px;
	}
}
a {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
@media screen and (max-width: 1024px) {
	.page-login .create-account {
		padding-left: 30px;
		padding-right: 20px;
	}
	.page-login .connect-social {
		padding-right: 37px;
	}
}
@media screen and (max-width: 960px) {
	.page-post .content-post {
		width: 100%;
		padding: 0 15px;
	}
}
@media screen and (max-width: 800px) {
	.page-login .content-left {
		width: 30%;
	}
	.page-login .content-right {
		width: 69%;
	}
	.list-article.masonry article.post-item {
		width: 33.33%;
	}
}
@media screen and (max-width: 768px) {
	.sidebar-left-setting {
		height: auto !important;
		padding-bottom: 40px;
	}
	.wp-pagenavi {
		padding-bottom: 20px;
	}
	.wp-pagenavi span,
	.wp-pagenavi a {
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 600px) {
	.page-login .content-right {
		width: 90%;
		float: none;
		margin: 30px auto 0;
	}
	.page-login .content-left {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.list-article.masonry article.post-item {
		width: 50%;
	}
	.content-area{
		padding-top: 0;
	}
}
@media screen and (max-width: 568px) {
	.avatar-images{
		margin-top: 0;
	}
	.page-login .bnt-hay {
		display: block;
		height: 1px;
		width: 100%;
		position: relative;
		float: none;
		text-align: center;
		margin: 30px 0;
	}
	.page-login .bnt-hay span {
		border: 1px solid #eaebec;
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #fff;
		color: #979797;
		right: 0;
		margin: -16px auto 0;
		width: 38px;
		height: 38px;
		line-height: 38px;
		padding: 0;
	}
	.page-login .connect-social {
		width: 100%;
		float: none;
	}
	.page-login .create-account {
		width: 100%;
		float: none;
		padding-bottom: 30px;
	}
	.page-login .content-right {
		height: auto;
	}
	.page-login .content-left {
		height: auto;
		padding-bottom: 30px;
	}
	.page-login {
		padding: 30px 0 30px;
	}
	.page-post .content-post form {
		height: auto;
	}
	.list-xem-theo {
		text-align: center;
	}
	.list-xem-theo li {
		padding: 0;
		display: block;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 480px) {
	.page-post .content-post .form-group,
	.page-post .content-post .btn-default,
	.page-post .content-post .checkbox {
		width: 90%;
	}
	.list-article.masonry article.post-item {
		width: 60%;
		right: 0;
		margin: auto;
	}
	.page-post .content-post .form-group img {
		height: auto;
		width: 88px;
	}
}
@media screen and (max-width: 320px) {
	.list-article.masonry article.post-item {
		width: 90%;
		right: 0;
		margin: auto;
	}
}

