<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Heads Up</title>
	<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet/less" type="text/css" href="style.less">
	<link rel="stylesheet" href="style.css" />
</head>
<body>
<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-1 logo">
				<img src="images/logo.png" alt="" />
			</div>
			<div class="search-form">
				<div data-ng-controller="uiSearchController" class="search ng-scope">
					<form ng-init="context = 'client'" ng-submit="search()" method="get" ng-action="action" action="/o/profiles/browse/" role="search" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-dirty ng-valid-parse">
						<div class="input-group">
							<div ng-class="{active: isOpen}" class="dropdown">
								<input type="radio" ng-disabled="actionSelectDisabled" value="client" ng-model="context" id="search-freelancers" class="ng-untouched ng-valid ng-dirty ng-valid-parse" name="6">
								<label for="search-freelancers">Freelancers</label>

								<input type="radio" ng-disabled="actionSelectDisabled" value="freelancer" ng-model="context" id="search-jobs" class="ng-untouched ng-valid ng-dirty" name="7">
								<label for="search-jobs">Jobs</label>
							</div>
							<span ng-click="toggleDropDown()" class="button"></span>
							<input type="text" ng-model="query" autocomplete="off" maxlength="100" ng-placeholder="placeholder" placeholder="Find freelancers" name="q" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-maxlength" kl_virtual_keyboard_secure_input="on">
						</div>
					</form>
				</div>
			</div>
			<div class="more-category">
				<span >XEM THÊM</span>
				<ul class="list-category">
					<li>
						<span>Category</span>
						<ul>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
						</ul>
					</li>
					<li>
						<span>Category</span>
						<ul>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
						</ul>
					</li>
					<li>
						<span>Category</span>
						<ul>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
							<li>Sub Category</li>
						</ul>
					</li>
				</ul>
			</div>


			<div class="col-md-3">
				<a class="signup" href="#">Sign up </a>
				<a class="login" href="#">Login</a>
				<a class="pri-button" href="#">Post</a>
			</div>
		</div>
	</div>
</header><!--end header-->

<div id="content">

</div><!--end content-->

<footer>

</footer>

<!--script-->
<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript" src="js/less.min.js"></script>
<script type="text/javascript" src="js/custom-script.js"></script>
<script type="text/javascript" src="js/core.0.5.0.min.js"></script>
<script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
<!--end script-->

</body>
</html>